html {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

body {
  margin: 0px;
  padding: 0px;
  background: url(../imgs/teste.jpg) no-repeat;
  background-size: cover;
  height: 150px;
  background-color: #10121f;
}



i {
  padding-right: 10px;
}

a {
  text-decoration: none;
  color: white;
  display: block;
}

.Container {
  width: 95%;
  min-width: 500px;
  margin: auto;
  margin-top: 400px;
}

/* Media queries para ajustar o layout em diferentes tamanhos de tela */
@media screen and (max-width: 768px) {
  .search-container {
    width: 100%;
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Mantém centralizado */
    right: auto; /* Remove o posicionamento à direita */
  }
}

@media screen and (max-width: 480px) {
  .search-container {
    width: 100%;
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Mantém centralizado */
    right: auto; /* Remove o posicionamento à direita */
  }
}

header h1 {
  color: white;
  font-size: 30px;
  margin-top: -20px;
  margin-bottom: 170px;
}

h1, h2, p, li, img {
  color: white;
}

/* Footer content */
#footer_content nav ul {
  list-style-type: none;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
}

#footer_content nav a {
  color: white;
  text-decoration: none;
  padding: 25px;
  display: block;
}

#footer_content nav li {
  float: left;
}

#footer_content nav a:hover {
  background-color: white;
  color: rgb(0, 0, 0);
}

/* Media queries para o footer */
@media screen and (max-width: 768px) {
  #footer_content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 426px) {
  #footer_content {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Sidebar */
.side-bar {
  background: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(15px);
  width: 290px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  overflow-y: auto;
  transition: 0.5s ease;
  transition-property: left;
  z-index: 1;
}
.menu {
  width: 100%;
  margin-top: 80px;
}
.menu .item a {
  color: #fff;
  font-family: sans-serif;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 15px 30px; /* Ajuste o padding conforme necessário para o tamanho dos botões */
  line-height: 60px;
}
.menu .item a:hover {
  background: #8621f8;
  transition: 0.3s ease;
}

.side-bar.active {
  left: 0;
}

.side-bar .menu {
  width: 100%;
  margin-top: 80px;
}

.side-bar .menu .item {
  position: relative;
  cursor: pointer;
}

.side-bar .menu .item a {
  color: #fff;
  font-family: sans-serif;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 5px 30px;
  line-height: 60px;
}

.side-bar .menu .item a:hover {
  background: #8621f8;
  transition: 0.3s ease;
}

.side-bar .menu .item i {
  margin-right: 15px;
}

.menu-btn {
  position: absolute;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  padding: 10px;
  top: 20px; /* Ajuste a posição conforme necessário */
  left: 20px; /* Ajuste a posição conforme necessário */
}
.menu-btn:hover{
  color: #8621f8;
  transition: 0.3s ease;
}

.close-btn {
  position: absolute;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  top: 20px; /* Ajuste a posição conforme necessário */
  right: 20px; /* Ajuste a posição conforme necessário */
  z-index: 999;
}
.close-btn:hover{
  color: #8621f8;
  transition: 0.3s ease;
}
@media screen and (max-width: 768px) {
  .side-bar {
    width: 100%;
    left: -100%;
  }
  .side-bar.active {
    left: 0;
  }

  .menu .item a {
    padding: 15px; /* Ajuste o padding conforme necessário para o tamanho dos botões */
  }
}
.logout-button{
  color: #fff;
  font-family: sans-serif;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 15px 30px; /* Ajuste o padding conforme necessário para o tamanho dos botões */
  line-height: 60px;
  user-select:none
}

.side-bar .menu .logout-button {
  color: #fff;
  font-family: sans-serif;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 5px 30px; /* Ajuste o padding conforme necessário */
}
.side-bar .menu i {
  margin-right: 15px;
}

.side-bar .menu .logout-button:hover {
  background: #8621f8;
  transition: 0.3s ease;
}

@media screen and (max-width: 768px) {
  .side-bar .menu .item .logout-button {
    padding: 15px; /* Ajuste o padding conforme necessário para o tamanho dos botões */
  }
}

/* JavaScript */
.no-results {
  text-align: left;
  padding-left: 10px; /* Adicione espaço à esquerda, se desejar */
}

/* JavaScript */



.modal {
  display: none; /* Inicia oculto por padrão */
  position: fixed; /* Fixa a posição na tela */
  z-index: 2; /* Coloca o modal na frente de outros elementos */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Habilita rolagem se necessário */
  background-color: rgba(0,0,0,0.4); /* Fundo escuro semi-transparente */
}

/* Conteúdo do modal */
.modal-content {
  background-color: #000000; /* Fundo branco */
  margin: 15% auto; /* Centraliza vertical e horizontalmente */
  padding: 50px;
  border: 1px solid #888;
  width: 80%; /* Largura do modal */
  max-width: 400px; /* Largura máxima do modal */
  text-align: center;
  position: relative;
}

/* Botão para fechar o modal */
.close {
  color: #ffffff;
  margin-top: -40px;
  margin-right: -30px;
  float:inline-end;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #8621f8;
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s ease;
}

/* Estilos para os botões do modal */
.modal-buttons {
  margin-top: 50px;
}

.modal-buttons button {
  padding: 10px 20px;
  margin: 0 20px;
  cursor: pointer;
}

.modal-buttons button:first-child {
  background-color: #4CAF50; /* Cor de fundo para o botão "Sim" */
  color: white;
  border: none;
}
.modal-buttons button:first-child:hover {
  background: #8621f8;
  transition: 0.3s ease;
}

.modal-buttons button:last-child {
  background-color: #f44336; /* Cor de fundo para o botão "Não" */
  color: white;
  border: none;
}
.modal-buttons button:last-child:hover{
  background: #8621f8;
  transition: 0.3s ease;
}

/* Começo - cards dos Artistas */
/* define as propriedades de cada card (cor, tamanho, posição, etc) */
.card {
  background-color: #111;
  width: 13rem;
  border-radius: 2rem;
  padding: 0.8rem;
  position: relative;
  transition: all 0.4s;
  cursor: pointer;
  z-index: 0; 
}
/* define a imagem do artista */
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5.5rem;
}
/* define o texto(nome) do artista */
.text {
  margin-top: 1rem;
  line-height: 1;
  text-align: center;
}
.text h2 {
  font-size: 1.2rem;
}

/* define o botão de play */
.play-icon {
  position: absolute;
  top: 53%;
  right: 7%;
  transform: translateY(10px);
  filter: drop-shadow(0 0.5rem 1rem rgba(0, 0, 0, 0.4));
  opacity: 0;
  transition: all 0.4s;
}
/* define o que acontece quando passar o mouse em cima do card */
.card:hover .play-icon {
  opacity: 1;
  transform: translateY(0);
}

/* propriedades do botão de play */
.circle {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: rgb(50, 233, 50);
  display: grid;
  place-items: center;
  transform: scale(0.95);
}
/* propriedades do botão de play */
.triangle {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 18px solid black;
  transform: rotate(90deg);
  margin-left: 0.2rem;
}
/* define o que acontece quando o botão de play for ativado (aparece o circulo verde com um triangulo no meio parecendo um botão de play) */
.play-icon:hover .circle {
  cursor: auto;
  transform: scale(1);
}
/* define decoração de texto da tag <a> */
a {
  text-decoration: none;
}
/* Container que define a posição dos 5 primeiros artistas */
.outroContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  height: 400px;
  margin-inline-start: 3.73%;
  flex-wrap: nowrap;
  margin-right: 2.5rem;
}
/* Container que define a posição da segunda fileira de artistas */
.outroContainer2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  height: 300px;
  margin-inline-start: 3.73%;
  flex-wrap: nowrap;
  margin-right: 2.5rem;
}
/* Container que define a posição da terceira fileira de artistas */
.outroContainer3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  height: 400px;
  margin-inline-start: 3.73%;
  flex-wrap: nowrap;
  margin-right: 2.5rem;
}

/* FIM - cards dos Artistas */