html {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

body {
  margin: 0px;
  padding: 0px;
  background: url(imgs/teste.jpg) no-repeat;
  background-size: cover;
  height: 300px;
  background-color: #10121f;
}

.search-container {
  margin-left: 70%;
  height: 0px;
  width: 300px;
  background-color: gray;
  display: block;
}
.Container {
  width: 95%;
  min-width: 500px;
  margin: auto;
  margin-top: 250px;
}
.outroContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  height: 400px;
  margin-inline-start: 3.73%;
  flex-wrap: nowrap;
  margin-right: 2.5rem;
}

.outroContainer2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  height: 300px;
  margin-inline-start: 3.73%;
  flex-wrap: nowrap;
  margin-right: 2.5rem;
}
.outroContainer3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  height: 400px;
  margin-inline-start: 3.73%;
  flex-wrap: nowrap;
  margin-right: 2.5rem;
}
input#search-bar {
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 20px;
  border: 1px solid #d0cfce;
  outline: none;
  &:focus {
    border: 1px solid #000000;
    transition: 0.35s epase;
    color: #000000;
    &::-webkit-input-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0;
    }
    &::-moz-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0;
    }
    &:-ms-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0;
    }
  }
}
.topnav input[type="text"] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: -50px;
  margin-right: 16px;
  font-size: 17px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a,
  .topnav input[type="text"] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type="text"] {
    border: 1px solid #ccc;
  }
}

.search-icon {
  position: relative;
  float: right;
  width: 75px;
  height: 75px;
  top: -72px;
  right: -5px;
}
.titulo-pagina {
  padding-top: -50px;
}

header h1 {
  color: white;
  font-size: 30px;
  margin-top: -20px;
  margin-bottom: 170px;
}
h1 {
  color: white;
}
h2 {
  color: white;
}
p {
  color: white;
}
li {
  color: white;
}
img {
  color: white;
}

.search-box {
  top: 260px;
  left: 950px;
  width: 300px;
  height: 0px;
  background-color: rgb(255, 255, 255);
  display: block;
}
#footer_content {
  nav ul {
    list-style-type: none;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  nav a {
    color: white;
    text-decoration: none;
    padding: 25px;
    display: block;
  }

  nav li {
    float: left;
  }

  nav a:hover {
    background-color: white;
    color: rgb(0, 0, 0);
  }
}

@media screen and (max-width: 768px) {
  #footer_content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 426px) {
  #footer_content {
    grid-template-columns: repeat(1, 1fr);
  }
}

a {
  text-decoration: none;
}
/* sidebar */

.side-bar {
  background: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(15px);
  width: 290px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  overflow-y: auto;
  transition: 0.4s ease;
  transition-property: left;
  z-index: 1;
}
.side-bar.active {
  left: 0;
}
.side-bar .menu {
  width: 100%;
  margin-top: 80px;
}
.side-bar .menu .item {
  position: relative;
  cursor: pointer;
}
.side-bar .menu .item a {
  color: #fff;
  font-family: sans-serif;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 5px 30px;
  line-height: 60px;
}
.side-bar .menu .item a:hover {
  background: #8621f8;
  transition: 0.3s ease;
}
.side-bar .menu .item i {
  margin-right: 15px;
}
.close-btn {
  position: absolute;
  color: #fff;
  font-size: 20px;
  right: 0;
  margin: 25px;
  cursor: pointer;
}
.menu-btn {
  position: absolute;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  padding: 10px;
  margin-top: -255px;
}

/* FIM SIDEBAR*/

.card {
  background-color: #111;
  display: flex;
  flex-direction: column;
  width: 11rem;
  border-radius: 0.3rem;
  padding: 0.8rem;
  position: relative;
  transition: all 0.4s;
  cursor: pointer;
  z-index: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.3rem;
}

.text {
  margin-top: 1rem;
  line-height: 1;
}
.text h2 {
  font-size: 1.2rem;
}

.play-icon {
  position: absolute;
  top: 53%;
  right: 7%;
  transform: translateY(10px);
  filter: drop-shadow(0 0.5rem 1rem rgba(0, 0, 0, 0.4));
  opacity: 0;
  transition: all 0.4s;
}
.card:hover .play-icon {
  opacity: 1;
  transform: translateY(0);
}

.circle {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: rgb(50, 233, 50);
  display: grid;
  place-items: center;
  transform: scale(0.95);
}
.triangle {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 18px solid black;
  transform: rotate(90deg);
  margin-left: 0.2rem;
}
.play-icon:hover .circle {
  cursor: auto;
  transform: scale(1);
}
