html {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

body {
  margin: 0px;
  padding: 0px;
  background: url(http://localhost/formulario-2/imgs/teste.jpg) no-repeat;
  background-size: cover;
  height: 150px;
  background-color: #10121f;
}

.Container {
  width: 95%;
  min-width: 500px;
  margin: auto;
  margin-top: 400px;
}
#footer_content nav ul {
  list-style-type: none;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
}

#footer_content nav a {
  color: white;
  text-decoration: none;
  padding: 25px;
  display: block;
}

#footer_content nav li {
  float: left;
}

#footer_content nav a:hover {
  background-color: white;
  color: rgb(0, 0, 0);
}

/* Media queries para ajustar o layout em diferentes tamanhos de tela */
@media screen and (max-width: 768px) {
  .search-container {
    width: 100%;
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Mantém centralizado */
    right: auto; /* Remove o posicionamento à direita */
  }
}

@media screen and (max-width: 480px) {
  .search-container {
    width: 100%;
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Mantém centralizado */
    right: auto; /* Remove o posicionamento à direita */
  }
}
/* Media queries para o footer */
@media screen and (max-width: 768px) {
  #footer_content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 426px) {
  #footer_content {
    grid-template-columns: repeat(1, 1fr);
  }
}

header {
  background-image: url("teste.jpg");
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: cover;
  text-align: center;
  background-color: rgb(128, 8, 239);
  height: 218px;
  padding-top: 100px;
}

header h1 {
  color: white;
  font-size: 30px;
  margin-top: -20px;
  margin-bottom: 170px;
}
h1 {
  color: white;
}
h2 {
  color: white;
}
p {
  color: white;
}
li {
  color: white;
}
img {
  color: white;
}
iframe{
  box-shadow: 1px 1px 20px rgb(32, 56, 80), 10px 10px 5px rgb(32, 56, 80) inset;
}
i{
  margin-right: 15px;
}
a {
  text-decoration: none;
  color: white;
  display: block;
}

/* MODAL */
.modal {
  display: none; /* Inicia oculto por padrão */
  position: fixed; /* Fixa a posição na tela */
  z-index: 2; /* Coloca o modal na frente de outros elementos */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Habilita rolagem se necessário */
  background-color: rgba(0, 0, 0, 0.4); /* Fundo escuro semi-transparente */
}

/* Conteúdo do modal */
.modal-content {
  background-color: #000000; /* Fundo branco */
  margin: 15% auto; /* Centraliza vertical e horizontalmente */
  padding: 50px;
  border: 1px solid #888;
  width: 80%; /* Largura do modal */
  max-width: 400px; /* Largura máxima do modal */
  text-align: center;
  position: relative;
}

/* Botão para fechar o modal */
.close {
  color: #ffffff;
  margin-top: -40px;
  margin-right: -30px;
  float: inline-end;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #8621f8;
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s ease;
}

/* Estilos para os botões do modal */
.modal-buttons {
  margin-top: 50px;
}

.modal-buttons button {
  padding: 10px 20px;
  margin: 0 20px;
  cursor: pointer;
}

.modal-buttons button:first-child {
  background-color: #4caf50; /* Cor de fundo para o botão "Sim" */
  color: white;
  border: none;
}
.modal-buttons button:first-child:hover {
  background: #8621f8;
  transition: 0.3s ease;
}

.modal-buttons button:last-child {
  background-color: #f44336; /* Cor de fundo para o botão "Não" */
  color: white;
  border: none;
}
.modal-buttons button:last-child:hover {
  background: #8621f8;
  transition: 0.3s ease;
}
/* FIM MODAL */

/* Sidebar */
.side-bar {
  background: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(15px);
  width: 290px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  overflow-y: auto;
  transition: 0.5s ease;
  transition-property: left;
  z-index: 1;
}
.menu {
  width: 100%;
  margin-top: 80px;
}
.menu .item a {
  color: #fff;
  font-family: sans-serif;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 15px 30px; /* Ajuste o padding conforme necessário para o tamanho dos botões */
  line-height: 60px;
}
.menu .item a:hover {
  background: #8621f8;
  transition: 0.3s ease;
}

.side-bar.active {
  left: 0;
}

.side-bar .menu {
  width: 100%;
  margin-top: 80px;
}

.side-bar .menu .item {
  position: relative;
  cursor: pointer;
}

.side-bar .menu .item a {
  color: #fff;
  font-family: sans-serif;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 5px 30px;
  line-height: 60px;
}

.side-bar .menu .item a:hover {
  background: #8621f8;
  transition: 0.3s ease;
}

.side-bar .menu .item i {
  margin-right: 15px;
}

.menu-btn {
  position: absolute;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  padding: 10px;
  top: 20px; /* Ajuste a posição conforme necessário */
  left: 20px; /* Ajuste a posição conforme necessário */
}
.menu-btn:hover {
  color: #8621f8;
  transition: 0.3s ease;
}

.close-btn {
  position: absolute;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  top: 20px; /* Ajuste a posição conforme necessário */
  right: 20px; /* Ajuste a posição conforme necessário */
  z-index: 999;
}
.close-btn:hover {
  color: #8621f8;
  transition: 0.3s ease;
}
@media screen and (max-width: 768px) {
  .side-bar {
    width: 100%;
    left: -100%;
  }
  .side-bar.active {
    left: 0;
  }

  .menu .item a {
    padding: 15px; /* Ajuste o padding conforme necessário para o tamanho dos botões */
  }
}
.logout-button {
  color: #fff;
  font-family: sans-serif;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 15px 30px; /* Ajuste o padding conforme necessário para o tamanho dos botões */
  line-height: 60px;
  user-select: none;
}

.side-bar .menu .logout-button {
  color: #fff;
  font-family: sans-serif;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 5px 30px; /* Ajuste o padding conforme necessário */
}
.side-bar .menu i {
  margin-right: 15px;
}

.side-bar .menu .logout-button:hover {
  background: #8621f8;
  transition: 0.3s ease;
}

@media screen and (max-width: 768px) {
  .side-bar .menu .item .logout-button {
    padding: 15px; /* Ajuste o padding conforme necessário para o tamanho dos botões */
  }
}
